{% extends "base.html" %}
{% block content %}

    {% for cleaner in cleaners %}
        {{ cleaner.shift_type }}<br>
        {{ cleaner.shift_start }}<br>
        {{ cleaner.shift_end }}<br>
        {{ cleaner.shift_sched }}<br>
        {{ cleaner.area_covered }}<br>
        {{ cleaner.is_urgent }}<br>
    {% endfor %}
    
    <ul class="collapsible">
        <li>
            <div class="collapsible-header white-text teal lighten-1 text-shadow"><i class="fas fa-caret-down"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text teal lighten-1 text-shadow"><i class="fas fa-caret-down"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text teal lighten-1 text-shadow"><i class="fas fa-caret-down"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
        
{% endblock %}

